<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Failure!</h4>
  <p>It looks like the payment was not completed. Please try upgrading subscription again.</p>
  <hr>
  <%= link_to "Go to Subscriptions", preferences_path, class: 'btn btn-primary' %>
</div>