<div class="alert alert-success" role="alert">
	<h4 class="alert-heading">Success!</h4>
	<p>Subscription successful! Your subscription details should be reflected in 'My Subscription' section soon.</p>
	<hr>
	<%= link_to "Go to Subscriptions", preferences_path, class: 'btn btn-primary' %>
</div>