#accounts-new {
	li {
		list-style-type: none;
	}
	.dark-black {
		color: black;
	}
}


#accounts-update {
	.field_with_errors { display: inline; }
}

#accounts-show {
	.dark-black {
		color: black;
	}
}