<div class="d-flex justify-content-between align-items-end flex-column col-lg-2">
  <%= image_pack_tag 'media/images/generic_icons/large_sidebar.svg', data: { widthPercent: '60%' }, class: 'resizeInfoPanelIcon mr-2', width: 20 %>
  <%= image_pack_tag 'media/images/generic_icons/medium_sidebar.svg', data: { widthPercent: '40%' }, class: 'resizeInfoPanelIcon mr-2', width: 20 %>
  <%= image_pack_tag 'media/images/generic_icons/small_sidebar.svg', data: { widthPercent: '22%' }, class: 'resizeInfoPanelIcon mr-2', width: 20 %>
</div>